div{
    border: red 3px solid;
    margin: 10px;
    padding: 10px;
}

/* SELECTOR HIJO (>) */
/* div > p{
    color: red;
} */


 /* SELECTOR CONSECUTIVO (+) */
/* div + p{
    color: red;
} */


/* SELCTOR HERMANO (~) */
/* ~ alt +126 */
/* div ~ p{
    color: red;
} */


/* SELECTOR DE ATRIBUTO [NOMBRE DEL ATRIBUTO] */
/* p[unico]{
    color: red;
} */


