*{
    font-size: 1.5rem;
}

header{
    background-color: aquamarine;
    width: auto;
    height: 200px;
}

main{
    /* display: flex; */
    align-items: center;
    background-color: cadetblue;
    width: auto;
    height: 600px;
}

footer{
    background-color: dodgerblue;
    width: auto;
    height: 200px;
}

.cuadro{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: rgb(196, 164, 225);
}